<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Island Baptist Church</title>
    <link rel="stylesheet" href="/static/css/directory.css">
</head>
<body>
<div class="header">
    <h1 class="title">Island Baptist Church Family!</h1>
</div>

</div>
<div class="members">
    <% for(var i = 0; i < data.length; i++) { %>

            <div class="member">

                <img class="member_image" src="/upload/image/<%= data[i].id %>">
                <div class="member_name"><%= data[i].name %></div>
                <div class="member_contact">Phone: <%= data[i].phone %></div>
                <div class="member_contact">Email: <%= data[i].email %></div>
                <div class="member_contact">Birthday: <%= data[i].birthday %>🎂</div>
                <div class="member_contact">[ID=<%= data[i].id %>]</div>

                <div>
                    <a class="delete_member" onclick="return confirm('Are you sure you want to delete this member?')" href="<%= "/admin/" + admin_secret + "/delete/" + data[i].id %>"><img class="delete_icon" src="../../static/delete.svg"></a>
                </div>

                <% if(data[i].valid) { %>
                    <form method="post" enctype="application/x-www-form-urlencoded" action="<%= "/admin/" + admin_secret + "/validation/" + data[i].id %>">
                        <input type="checkbox" name="valid" checked>
                        <input type="submit" name="submit" value="Invalidate">
                    </form>
                    <% } else {%>
                        <form method="post" enctype="application/x-www-form-urlencoded" action="<%= "/admin/" + admin_secret + "/validation/" + data[i].id %>">
                            <input type="submit" name="submit" value="Validate">
                        </form>
                    <% } %>

                </form>

            </div>


    <% } %>
    <% if (data.length == 0) { %>
        <p>No members yet!</p>
    <% } %>
</div>

</body>
</html>
